/*RESET e GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.noSelect { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.boxborder{
    border-bottom: 2px solid #fff;
    width: 100%;
    padding-bottom: 10px;
    max-width: 45%;
    min-width: 45%;
    margin: 0 auto;
}
.boxborder h2{
    padding-top: 100px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
@media(max-width:400px){
    .boxborder{
        max-width: 70%;
        min-width: 70%;
    }
}

/*HEADER*/
.chamada{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(#2e302e , #54678f);
}
.chamada-text{
    max-width: 100%;
    width: 100%;
    padding: 0 8%;
    text-align: left;
    padding-bottom: 50px;
    
}
.chamada-text h1{
    font-size: 5em;
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    color: #fff;
}
.chamada-text p{
    width: 100%;
    font-size: 1.8em;
    font-weight: 400;
    color: #000;
}
@media (max-width:500px){
    .chamada-text{
        text-align: center;
    }

}
@media (max-width:400px){
    .chamada-text{
        text-align: center;

    }
    .chamada-text h1{
        font-size: 4em;
    }
}
@media (max-width:350px){
    .chamada-text h1{
        font-size: 3em;
    }
}

/*ARROW DOWN*/
.arrowDown{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;

}
.arrowDown i {
    font-size: 60px;
    color: #fff;
    cursor: pointer;
}
/*SKILLS*/
.conhecimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: #54678f;
    padding-bottom: 270px;
    padding-top: 50px;
}
.conhecimento-icons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 100px;
}
.conhecimento-icons i{
    font-size: 100px;
    color: white;
    margin: 10px;
}
.c-icon{
    flex: 1 1 180px;
    padding: 10px;
}
.c-icon img{
    height: 75px;
    margin: 10px;
}
.c-icon p{
    padding-top: 10px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

/*PROJETOS*/
.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    background: #54678f;
    padding-top: 50px;
    padding-bottom: 150px;
}

.projeto-pic{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
}
.projeto{
    margin: 20px 15px; 
}
.projeto-card{
    position: absolute;
    padding: 60px 0px;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    height: 200px;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    background: #212624;
}
.projeto-card a{
    color: #fff;
}
.projeto-card a:hover{
    text-decoration: underline;
}
.projeto-card i{
    font-size: 1.5rem;
    padding: 10px;
}
.projeto-card.active{
    padding: 60px 0px;
    justify-content: center;
    width: 91.5%;
    height: 200px;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    background: #212624;
    z-index: 1000;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
}
@media(max-width:320px){
    .projeto-card.active{
        width: 90%;

    } 
}
.projeto-info h2{
    color: #fff;
    font-weight: 300;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: -5px;
}
.projeto-pic img{
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin-top: 20px;
    background: #212624;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.projeto-info ul {
    margin-top: 0px;
}
.projeto-info li{
    display: inline-block;
    font-weight: 300;
    padding: 5px ;
    background: #2e303e;
    color: #fff;
    border-radius: 10px;
    font-size: 0.875rem;
}

/*SOBRE*/
.contato{
    background: #54678f;
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contato-form{
    margin: 0 20px;
}
.contato p{
    color: #fff;
    font-weight: 300;
    padding: 20px;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    background: #9199be;
    max-width: 100%;
    width: 800px;  
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
}
input{
    padding: 10px;
    margin: 10px 20px;
    display: block; 
    border-radius: 5px;
    border:none;
}
form button{
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    display: block;
    padding: 15px 20px;
    max-width: 100%;
    border-radius: 20px;
    color: #fff;
    background: #404040;
    padding: 15px;
    border-radius: 5px;
    display: block;
    border: none;
    cursor: pointer;
}
form button:hover{
    font-weight: 700;
    background: #212624;
}
textarea{
    padding: 15px;
    margin: 10px 20px;   
    display: block; 
    border-radius: 5px;
    border:none;

}
/*SOCIAL MEDIA*/
.social {
    background: #212624;
    padding: 50px 0 50px 0;
    text-align: center;
}
.social ul li{
    display: inline-block;
    margin: 5px;
}
.social ul li i{
    font-size: 3.5em;
    color: #54678f;
}
.social ul li i:hover{
    color: #9199be;
}
/*Back to TOP*/
.backBtn{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right,#2e303e , #9199be);
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 30%;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;

}
.backBtn.activated{
    opacity: 1;
    visibility: visible;

}
.backBtn:hover{
    background-image: linear-gradient(#9199be , #2e303e);
}
.backBtn i{
    font-size: 36px;
    color: #fff;
}

/*FOOTER*/
.rodape{
    background: #2e303e;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5em;

}
.lang{
    cursor: pointer;
}
.rodape img{
    max-width: 36px;
    height: 36px;
    margin-right: 10px;
}

/* Animação data-target */
[data-anime]{
    opacity: 0;
    transform: translate3d(0,-50px,0);
    transition: .3s;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0)
}

/************* EN PAGE ***********/
.chamadaEn{
    background-image: linear-gradient(#2b192b , #8d2d56);
}
.conhecimentoEn{
    background-color: #8d2d56;
}
.projetosEn{
    background: #8d2d56;
}
.sobreEn{
    background: #8d2d56;
}
.contactEn{
    background: #2b193e;;
} 
.backBtnEn{
    background-image: linear-gradient(to right,#a3445d , #2b193e)
}
.backBtnEn:hover{
    background-image: linear-gradient(#2b193e , #a3445d)
}
.socialEn ul li i{
    color: #8d2d56;
}
.socialEn ul li i:hover{
    color: #a3445d;
}
.rodapeEn{
    background: #2b193e;
}