/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
html,body{
    height: 100%;
    background: #b8b8b8;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
}
h2{
    font-weight: 300;
}
.noSelect { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

/*Header*/
header{
    background: #420808;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo{
    padding: 20px 40px;
    float: left;
}
.paw-header{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.menu-nav{
    float: right;
    padding: 25px 0px 0px 0px;  
}

.menu-nav ul li{
    display: inline-block;    
}
.menu-nav ul li + li{
    padding-right: 10px;
}

.menu-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.menu-nav a:hover{
    font-weight: 700;
}
.fa-bone{
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
}
.fa-bone.show{
    opacity: 1;
    visibility: visible;
}

/*menu mobile and media query*/
@media(max-width:800px){    
.mobile-btn{
    display: block;
    color: #fff;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    float: right;
    position: relative;
    top: 25px;
    right: 30px;
    cursor: pointer;
}
.paw-header{
    font-size: 36px;
}
.menu-nav ul li + li{
    padding-right: 0px;
}
.mobile-btn::after, .mobile-btn::before{
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
}
.mobile-btn.active{
    border-top-color: transparent;
}
.mobile-btn.active::after{
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
}
.mobile-btn.active::before{
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
    transition: ease .5s;
}

.menu-nav.mobile-menu{
    position: absolute;
    background: #b8b7b6;
    padding: 10px 10px 10px 20px;
    width: 100%;
    top: 70px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(180px,0px,0px);
    transition: .3s;
    text-align: center;
}
.menu-nav.mobile-menu li:hover{
        background-color: #824a4a;
}
.menu-nav.mobile-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px,0px,0px);
}
.menu-nav.mobile-menu li{
	display: block;
    border-bottom: 2px solid #420808 ;
    padding-bottom: 10px;
    padding-top: 5px;
}
.gallery img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 500px;
}
}
/*Section Gallery*/
.gallery{
    background: #000;
    max-height: 700px;
}
.gallery img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    max-height: 700px;
}

.gallery h2{
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    
}
.gallery p{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.slide{
    position: relative;
    overflow: hidden;
}
.slide > * {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.slide > .activate{
    position: relative;
    top: 0px;
    opacity: 0.7;
}
@media(max-width:550px){
    .gallery img{
        height: 500px;
    }
}

/*Adoption section*/
.adoption{
    background: #420808;
    color: #fff;
    max-height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.fa-dog{
    font-size: 35px;
}
.call{
    width: 100%;
    padding: 30px 0px;  
}
.adoption> .call h2{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}
.cards img{
    width: 80px;
    height: 80px;
    margin: 50px 10px 30px 10px;
    opacity: 0.5;
    border: 2px solid #fff;
    border-radius: 50%;
}
.cards img:hover{
    opacity: 1;
}
.cards img.boom{
    opacity: 1;
}
.doginfo button{
    text-transform: uppercase;
    border: none;
    display: block;
    background: #420808;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}
.doginfo button:hover{
    background: #824a4a;
    text-decoration: underline;
}
.doggo{
    display: flex;
    padding:  0 2%;
    max-width: 100%;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50px, 0px, 0);
    height: 0;
    
}
.doggo.boom{
    opacity: 1;
    visibility: visible;
    transition: .7s;
    transform: translate3d(0px, 0px, 0);
    height: auto;
}
.dog-img{
    position: relative;
}
.dog-txt{
    position: absolute;
    display: inline-block;
    top: 90%;
    left: 30%;
    width: 200px;
}
.dog-txt h2{
    color: #fff;
    margin: 0 auto;
    text-align: center;
    background: #420808;
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
}
.dog-img img{
    flex: 1 1 50px;
    width: 500px;
    height: 100%;
    
}
.doginfo{
    background: #e8e8e8;
    width: 100%;
    flex: 1 1 40px;
    color: #420808;
    padding: 2% 2%;
    text-align: justify;
    flex-wrap: wrap;
    height: auto;    
}
.doginfo h3{
    padding-bottom: 5px;
    font-size: 30px;
}
.doginfo p{
    padding-bottom: 5px;
    font-size: 15px
}
.doginfo ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}
.doginfo h4{
    font-size: 20px;
    padding-bottom: 5px;
}
@media(max-width:860px){
    .doggo{
        flex-direction: column;
    } 
    .dog-img img{
        width: 100%;
        height: 600px;
    }
    .dog-txt{
        position: absolute;
        display: inline-block;
        top: 90%;
        left: 28%;
        width: 200px;
    }
    .doginfo{
        margin-top: -5px;
    }
    .call h2{
        width: 80% !important;
    }
    .volunteer h2{
        width: 80% !important;
    }
}
@media(max-width:400px){
    .dog-txt{
        top: 85%;
        left: 20%;
    }
    .cards img{
        width: 70px;
        height: 70px;
        margin: 0px 40px 30px 40px;
    }
    .dog-img img{
        width: 100%;
        height: 400px;
    }
}

/*Section videos*/
.videos{
    padding-bottom: 100px;
    background: #420808;
    color: #fff;
}
.videos > .call h2{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.video-gal{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
}
.video-gal video{
    max-width: 100%;
    width: 400px;
    height: 200px;
    background: #000;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
}

/*Charity*/
.charity{
    background: #420808;
    color: #fff;
}
.charity > .call h2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.charity-about{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 0 2%;
}
.charity-about > span p{
    text-align: center;
    font-size: 20px;
    padding: 4% 2% 8% 2%;
    font-style: italic;
}
.charity-about > span a{
    text-decoration: underline;
    font-style: normal;
    font-weight: 700;
}
.charity-about > span a:hover{
    text-decoration: none;
}
.charity-cards{
    flex: 1;
    padding-bottom: 20px;
}
.charity-cards img{
    width: 300px;
    height: 400px; 
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    
}
.charity-cards h3{
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    margin-top: -5px;
    background: #e8e8e8;
    color: #420808;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;   
}
.volunteer{
    width: 100%;
    margin-top: 100px;
}
.volunteer h2{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
form{
    padding-bottom: 170px;
    margin: 0 auto;
}
input{
    max-width: 60%;
    width: 60%;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    background: #e8e8e8;
}
form button{
    max-width: 15%;
    width: 15%;
    padding: 12px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    background: #824a4a;
}
form button:hover{
    text-decoration: underline;
}
@media(max-width:510px){
    input{
        max-width: 100%;
        width: 80%;
        border-radius: 5px;
    }
    form button{
        width: 80%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 15px;
        border-radius: 5px;
    }
}
/*Footer*/
footer{
    text-align: center;
    background: #e8e8e8;
    color: #420808;
}
.social p{
    font-size: 10px;
}
.social ul{
    display: flex;
    justify-content: center;
}
.social ul li{
    padding: 0 3px;
}
.social ul li a{
    color: #420808;
    font-size: 20px;
}
.social ul li a:hover{
    color: #824a4a;
}
small{
    font-size: 8px;
     color: #420808;
}
small a{
     color: #420808;
}
small a:hover{
    text-decoration: underline;
}

/*Flags*/
.flags ul{
    display: flex;
    justify-content: center;
}
.flags li{
    padding: 1% 0.2%;
}
.flags img{
    width: 20px;
    height: 15px;
}
/*Back to top button*/
.backtop{
    width: 36px;
    height: 36px;
    text-align: center;
    background: #e8e8e8;
    border-radius: 50%;
    margin-bottom: 10px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    cursor: pointer;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    visibility: hidden;
    opacity: 0;
}
.backtop.appear{
    visibility: visible;
    opacity: 1;
}
.backtop i{
    font-size: 35px;
    color: #824a4a;
}
.backtop:hover{
    background: #824a4a;
}
.backtop i:hover{
    color: #e8e8e8;
}

/* Br colors */
.headerbr, .adoptionbr, .doginfobr button, .dog-txtbr, .dog-txtbr h2, .videosbr, .charitybr{
    background:#1e761e;
}
.doginfobr, .socialbr, .socialbr i, .backtopbr i, .charity-cardsbr h3{
    color: #1e761e;
}
.backtopbr:hover{
    background: #7add7a;
}
.formbr button[type="submit"]{
    background: #7add7a;
}
.doginfobr button:hover{
    background: #7add7a;
}

@media(max-width:800px){    
    .menu-nav.mobile-menubr li:hover{
            background-color: #7add7a;
    }
    .menu-nav.mobile-menubr li{
        border-bottom: 2px solid #1e761e ;
    }
    }